<a href="https://colab.research.google.com/github/helloKH/Psypy/blob/master/Psypy_Data%20Load%20%26%20Preparations(Chapter%206%20~7).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Psypy 6회차 
- 데이터 로딩과 저장, 파일의 형식(Chapter 6) 
- 데이터 정제 및 준비(Chapter 7)
- 참고자료: Python for Data Analysis 2nd.

In [0]:
!python -V

Python 3.6.9

### 데이터 로딩과 저장, 파일형식

In [0]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [12]:
# 교재 page 내 data를 직접 불러온다
df = pd.read_csv('https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [16]:
#read_table 에 구분자로 쉼표를 지정해서 읽어올 수 있다
pd.read_table('https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/ex1.csv', sep = ',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo