<a href="https://colab.research.google.com/github/helloKH/Psypy/blob/master/Psypy_Data%20Load%20%26%20Preparations(Chapter%206%20~7).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Psypy 6회차 
- 데이터 로딩과 저장, 파일의 형식(Chapter 6) 
- 데이터 정제 및 준비(Chapter 7)
- 참고자료: Python for Data Analysis 2nd.

In [101]:
!python -V

Python 3.6.9

#### 0. Google Drive와 연결하여 데이터 업로드해두기
- 참고 문서 링크: https://www.marktechpost.com/2019/06/07/how-to-connect-google-colab-with-google-drive/

In [102]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

#### URL로 가서 authorization code를 아래 code 입력란에 copy and paste. 마운트 위치는 /content/gdrive/My Drive/ 이렇게 됨.

In [103]:
!ls '/content/gdrive/My Drive/' # 유닉스 명령어 ls를 사용하여 폴더에 있는 파일 리스트를 확인 가능

 Aimmed  'Colab Notebooks'   psypy   pydata-book

#### 자신의 구글 드라이브에 PsyPy 디렉토리를 만들어서 거기에 필요한 파일들을 업로드
- 교재에서 사용되는 파일들은 아래 링크에 존재
- https://github.com/wesm/pydata-book/tree/2nd-edition/examples

In [104]:
import os
os.getcwd()
os.chdir('/content/gdrive/My Drive')
os.getcwd()

'/content/gdrive/My Drive'

In [0]:
import urllib.request

url = 'https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/ex1.csv'
file_name = "psypy/ex1.csv" 
with urllib.request.urlopen(url) as r:
  doc = r.read()
  with open(file_name, "wb") as f:
    f.write(doc)

In [106]:
# 제대로 만들어서 업로드했으면 다음처럼 확인할 수 있다.
!ls '/content/gdrive/My Drive/psypy'

array_ex.txt	ex5.csv			    pydata-book     tmp.txt
csv_mindex.csv	ex6.csv			    segismundo.txt  tseries.csv
ex1.csv		ex7.csv			    spx.csv	    volume.csv
ex1.xlsx	example.json		    stinkbug.png    yahoo_price.pkl
ex2.csv		fdic_failed_bank_list.html  stock_px_2.csv  yahoo_volume.pkl
ex3.csv		ipython_bug.py		    stock_px.csv
ex3.txt		macrodata.csv		    test_file.csv
ex4.csv		out.csv			    tips.csv

In [0]:
path = "/content/gdrive/My Drive/PsyPy/segismundo.txt"

In [108]:
# 실습을 위한 소스와 데이터가 있는 저장소를 클로닝해서 colab과 동기화하는 방법을 사용.
# 지금은 클로닝되어 있지 않음
%ls

 Aimmed/  'Colab Notebooks'/   psypy/   pydata-book/

In [109]:
# 저장소 가져옴
!git clone https://github.com/wesm/pydata-book.git

fatal: destination path 'pydata-book' already exists and is not an empty directory.

In [110]:
# 코드&데이터 디렉토리 확인
%ls

 Aimmed/  'Colab Notebooks'/   psypy/   pydata-book/

In [111]:
#colab의 실행 위치를 psypy 디렉토리 내부로 옮기자
%cd psypy

/content/gdrive/My Drive/psypy

In [112]:
os.getcwd()

'/content/gdrive/My Drive/psypy'

In [113]:
%ls

array_ex.txt    ex5.csv                     pydata-book/    tmp.txt
csv_mindex.csv  ex6.csv                     segismundo.txt  tseries.csv
ex1.csv         ex7.csv                     spx.csv         volume.csv
ex1.xlsx        example.json                stinkbug.png    yahoo_price.pkl
ex2.csv         fdic_failed_bank_list.html  stock_px_2.csv  yahoo_volume.pkl
ex3.csv         ipython_bug.py              stock_px.csv
ex3.txt         macrodata.csv               test_file.csv
ex4.csv         out.csv                     tips.csv

In [114]:
%cat ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

### 6 데이터 로딩과 저장, 파일형식

#### 6.1 텍스트파일에서 데이터 읽고 쓰기

In [0]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [118]:
!cat ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [120]:
# 설정된 폴더 내에서 data를 직접 불러온다
df = pd.read_csv('ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [121]:
#read_table 에 구분자로 쉼표를 지정해서 읽어올 수 있다
pd.read_table('ex1.csv', sep = ',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

- 파일 컬럼에 이름이 없는 경우

In [122]:
pd.read_table('ex2.csv')

    1,2,3,4,hello
0   5,6,7,8,world
1  9,10,11,12,foo

- pandas 가 자동으로 컬럼 이름 생성하게 만들거나, 이름 지정하기

In [123]:
pd.read_csv('ex2.csv', header = None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [124]:
pd.read_csv('ex2.csv', names = ['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [125]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('ex2.csv', names = names, index_col = 'message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

- 계층적 색인을 지정하기 위해 컬럼 번호나 이름의 리스트를 넘기기

In [126]:
parsed = pd.read_csv('csv_mindex.csv', index_col = ['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

- 고정된 구분자 없이 공백이나 다른 패턴으로 필드를 구분한 경우
  - 정규표현식으로 고치기

In [127]:
result = pd.read_table('ex3.txt', sep = '\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

- 누락된 값 확인하기

In [0]:
result = pd.read_csv('https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [0]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

- na-values 옵션은 리스트나 문자열 집합을 받아서 누락된 값을 처리한다

In [0]:
result = pd.read_csv('https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/ex5.csv',
                     na_values = ['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [0]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/ex5.csv', 
            na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

#### 6.1.1 텍스트파일 조금씩 읽어오기

In [0]:
result = pd.read_csv('https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [0]:
pd.read_csv('https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/ex6.csv', nrows = 5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

- chunksize 옵션으로 row 개수를 나눠서 읽을 수 있다

In [0]:
chunker = pd.read_csv('https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/ex6.csv', chunksize= 1000)

# TextParser 객체를 이용해 chunksize에 따라 분리된 파일들을 순회 가능
# ex6.csv 파일을 순회하면서 key 값 세어보기

tot = pd.Series([])

for piece in chunker:
  tot = tot.add(piece['key'].value_counts(), fill_value=0)
tot = tot.sort_values(ascending = False)

In [0]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

#### 6.1.2 데이터를 텍스트 형식으로 기록
- error

In [0]:
data = pd.read_csv('https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [0]:
# data.to_csv('https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/ex5.csv')
# !cat examples/out.csv

#### 6.1.3 구분자 형식 다루기

- 파일을 읽듯이 reader을 순회하면 큰따옴표가 제거된 튜플 획득 가능

In [63]:
data = pd.read_csv('https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/ex7.csv')
data

   a  b  c
0  1  2  3
1  1  2  3

In [68]:
import urllib.request

url = 'https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/ex7.csv'
file_name = 'examples/ex7.csv'
with urllib.request.urlopen(url) as r:
  doc = r.read()
  with open(file_name, "wb") as f:
    f.write(doc)

FileNotFoundError: ignored

In [65]:
import csv
f = open('https://github.com/wesm/pydata-book/tree/2nd-edition/examples/ex7.csv')
reader = csv.reader(f)

FileNotFoundError: ignored

In [0]:
for