<a href="https://colab.research.google.com/github/helloKH/python_study/blob/master/Psypy_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!python -V

Python 3.6.8

### colab github 연동하기 
- https://brunch.co.kr/@jayden-factory/16 참고

In [0]:
!git clone https://github.com/helloKH/python_study.git

fatal: destination path 'python_study' already exists and is not an empty directory.

In [0]:
ls -ltr

total 92
drwxr-xr-x 1 root root  4096 Nov 21 16:30 sample_data/
drwxr-xr-x 3 root root  4096 Dec  3 10:20 python_study/
drwxr-xr-x 2 root root  4096 Dec  3 11:12 examples/
-rw-r--r-- 1 root root 79735 Dec  3 11:19 ex.csv

#### 실습 기반 데이터파일 긁어오기

In [0]:
import pandas as pd
import os
import urllib.request

In [0]:
# 우선 파일을 가져와보자.
## 1. 디렉토리 만들기
import os

dir_name = "examples"
if not os.path.exists(dir_name) :
  os.mkdir(dir_name)

In [0]:
# example 디렉토리가 생겼다.
%ls

examples/  ex.csv  python_study/  sample_data/

In [0]:
# 지금은 디렉토리 안에 아무 파일도 없다.
%ls examples/

segismundo.txt

In [0]:
# 2. 파일 가져오기 - [1]의 예제소스 github의 파일들을 주소로 접근해서 가져온다.

import urllib.request

url = 'https://github.com/helloKH/python_study'
file_name = "ex.csv" 
with urllib.request.urlopen(url) as r:
  doc = r.read()
  with open(file_name, "wb") as f:
    f.write(doc)

In [0]:
# 내용를 한번 살펴보자
%cat python_study/ex.csv

﻿no,id,gender,email,score
1,ma,male,naver,100
2,fa,female,google,100
3,mb,male,yahoo,80
4,mc,male,daum,70
5,fb,female,daum,60
6,fc,female,naver,70
7,me,male,yahoo,80
8,md,male,naver,100
9,mg,male,naver,90
10,fd,female,naver,90

#### github에서 직접 가져오고 싶다

In [3]:
### git에 올려져 있는 file을 직접 불러오고 싶다(25MB 미만 가능) 
#### 참고: https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92

url = "https://raw.githubusercontent.com/helloKH/python_study/master/ex.csv"
data = pd.read_csv(url)
data

   no  id  gender   email  score
0   1  ma    male   naver    100
1   2  fa  female  google    100
2   3  mb    male   yahoo     80
3   4  mc    male    daum     70
4   5  fb  female    daum     60
5   6  fc  female   naver     70
6   7  me    male   yahoo     80
7   8  md    male   naver    100
8   9  mg    male   naver     90
9  10  fd  female   naver     90

In [4]:
#### 문1. score 평균
data.mean()

no        5.5
score    84.0
dtype: float64

In [5]:
#### 문2. 남녀평균
data.groupby(data['gender']).mean()

              no      score
gender
female  5.750000  80.000000
male    5.333333  86.666667

In [9]:
#### 문3. email 채우기. 이메일은 '아이디@회사이름.com' 을 따름
data['full email'] = data['id'] + '@' + data['email'] + '.com'
data.head()

   no  id  gender   email  score     full email
0   1  ma    male   naver    100   ma@naver.com
1   2  fa  female  google    100  fa@google.com
2   3  mb    male   yahoo     80   mb@yahoo.com
3   4  mc    male    daum     70    mc@daum.com
4   5  fb  female    daum     60    fb@daum.com

#### 응용 문제 2 - 디렉토리의 사진 정리
- examples/iu 디렉토리에는 iu 사진이 들어있다. 디렉토리 안에 하위 디렉토리를 생성해서 사진 파일 포맷별로 정리해보자.
- 예를들어 jpg 파일들은 jpg 파일별로 모아서 새로 디렉토리를 생성해서 그곳에 넣는다. 예) iu/1.jpg, 2.jpg, 3.jpg --> iu/jpg/1.jpg, 2.jpg, 3.jpg

#### 응용문제 3 - 간단한 웹 크롤링
- 다음 주소로 방탄소년단의 노래 가사를 가져온다.
- 가사 중에 영어가 섞인 문장은 제거하고 출력해보자.

In [0]:
import requests
from bs4 import BeautifulSoup

In [0]:
#url = "https://gasazip.com/view.html?no=614736"
#url = "https://gasazip.com/view.html?no=636135"
url = "http://gasazip.com/view.html?no=2276458"

In [0]:
# HTTP GET Request
req = requests.get(url)
# HTML 소스 가져오기
html = req.text
# BeautifulSoup으로 html소스를 python객체로 변환하기
# 첫 인자는 html소스코드, 두 번째 인자는 어떤 parser를 이용할지 명시.
# 여기서는 Python 내장 html.parser를 이용했다.
soup = BeautifulSoup(html, 'html.parser')

In [0]:
lyrics = []
for txt in soup.find_all('div', attrs={'class': 'col-md-8'}) :
    lines = txt.get_text().split('\n')
    for line in lines :
        lyrics.append(line.strip())

#### 영어 제거

In [32]:
lyrics[1:3]

['', '모든 게 궁금해']

#### 정규표현식 적용해보기
- https://doubly12f.tistory.com/64

In [0]:
import re

In [27]:
text = "ㅋㅋㅋㅋ 하이"
re.compile('ㄱ-ㅎ+').findall(text)
type(text)

str

In [28]:
lyrics[0] # list 내 루프를 돌면서, 영어를 제거하고 새로운 리스트 생성

'작은 것들을 위한 시 (Boy With Luv)Feat.Halsey'