<a href="https://colab.research.google.com/github/helloKH/python_study/blob/master/Psypy_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
!python -V

Python 3.6.8

### colab github 연동하기 
- https://brunch.co.kr/@jayden-factory/16 참고

In [41]:
!git clone https://github.com/helloKH/python_study.git

fatal: destination path 'python_study' already exists and is not an empty directory.

In [42]:
ls -ltr

total 92
drwxr-xr-x 1 root root  4096 Nov 21 16:30 sample_data/
drwxr-xr-x 3 root root  4096 Dec  3 10:20 python_study/
drwxr-xr-x 2 root root  4096 Dec  3 11:12 examples/
-rw-r--r-- 1 root root 79735 Dec  3 11:19 ex.csv

#### 실습 기반 데이터파일 긁어오기

In [0]:
import pandas as pd
import os
import urllib.request

In [0]:
# 우선 파일을 가져와보자.
## 1. 디렉토리 만들기
import os

dir_name = "examples"
if not os.path.exists(dir_name) :
  os.mkdir(dir_name)

In [45]:
# example 디렉토리가 생겼다.
%ls

examples/  ex.csv  python_study/  sample_data/

In [46]:
# 지금은 디렉토리 안에 아무 파일도 없다.
%ls examples/

segismundo.txt

In [0]:
# 2. 파일 가져오기 - [1]의 예제소스 github의 파일들을 주소로 접근해서 가져온다.

import urllib.request

url = 'https://github.com/helloKH/python_study'
file_name = "ex.csv" 
with urllib.request.urlopen(url) as r:
  doc = r.read()
  with open(file_name, "wb") as f:
    f.write(doc)

In [48]:
# 내용를 한번 살펴보자
%cat python_study/ex.csv

﻿no,id,gender,email,score
1,ma,male,naver,100
2,fa,female,google,100
3,mb,male,yahoo,80
4,mc,male,daum,70
5,fb,female,daum,60
6,fc,female,naver,70
7,me,male,yahoo,80
8,md,male,naver,100
9,mg,male,naver,90
10,fd,female,naver,90

#### github에서 직접 가져오고 싶다

In [62]:
### git에 올려져 있는 file을 직접 불러오고 싶다(25MB 미만 가능) 
#### 참고: https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92

url = "https://raw.githubusercontent.com/helloKH/python_study/master/ex.csv"
data = pd.read_csv(url)
data

   no  id  gender   email  score
0   1  ma    male   naver    100
1   2  fa  female  google    100
2   3  mb    male   yahoo     80
3   4  mc    male    daum     70
4   5  fb  female    daum     60
5   6  fc  female   naver     70
6   7  me    male   yahoo     80
7   8  md    male   naver    100
8   9  mg    male   naver     90
9  10  fd  female   naver     90

In [63]:
#### 문1. score 평균
data.mean()

no        5.5
score    84.0
dtype: float64

In [64]:
#### 문2. 남녀평균
data.groupby(data['gender']).mean()

              no      score
gender
female  5.750000  80.000000
male    5.333333  86.666667