<a href="https://colab.research.google.com/github/helloKH/python_study/blob/master/Psypy_pandas%20%26%20data%20load(Chapter%205~6).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Psypy 5회차 
- Pandas
- 데이터 로딩과 저장, 파일의 형식 
- Chapter 5 ~ 6

In [0]:
!python -V

Python 3.6.9

### PANDAS

In [0]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

#### 5.1.1 Series
- 일련의 객체를 담을 수 있는 1차원 배열 같은 자료 구조
- 색인(index)이라는 배열의 데이터와 연관된 이름을 가짐

In [0]:
obj = pd.Series([4, 7, -5, 3]) # index, value 구조
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [0]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [0]:
obj2 = pd.Series([4, 7, -5, 3], index = ['d', 'b', 'a', 'c']) # 각 데이터를 지칭하는 색인 형성
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [0]:
# 단일 값 선택이나 여러 값 선택할 때 색인으로 라벨 가능
obj2['a']
obj2['d'] = 6
obj2[['c', 'a', 'd']] # 'c', 'a', 'd'는 색인의 배열로 해석

c    3
a   -5
d    6
dtype: int64

In [0]:
# Numpy 배열 사용에도 색인 값 유지
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [0]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [0]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

- Series는 고정된 길이의 사전형으로 이해할 수 있음

In [0]:
'b' in obj2
'e' in obj2

False

In [0]:
# 파이썬 사전 객체로부터 Series 객체 생성 가능
sdata = {'Ohio': 35000, 'Texas':71000, 'Oregon': 16000, 'Utan': 50000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utan      50000
dtype: int64

In [0]:
#값이 없을 경우 NaN으로 표시
states = ['Texas', 'California', 'Ohio', 'Oregon']
obj4 = pd.Series(sdata, index = states)
obj4

Texas         71000.0
California        NaN
Ohio          35000.0
Oregon        16000.0
dtype: float64

In [0]:
# 누락된 데이터는 isnull, notnull 사용
pd.isnull(obj4) # 누락된 데이터 지칭

Texas         False
California     True
Ohio          False
Oregon        False
dtype: bool

In [0]:
pd.notnull(obj4)

Texas          True
California    False
Ohio           True
Oregon         True
dtype: bool

In [0]:
obj4.isnull

<bound method Series.isnull of Texas         71000.0
California        NaN
Ohio          35000.0
Oregon        16000.0
dtype: float64>

In [0]:
#Series는 산술 연산에서 색인과 라벨로 자동 정렬
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utan      50000
dtype: int64

In [0]:
obj4

Texas         71000.0
California        NaN
Ohio          35000.0
Oregon        16000.0
dtype: float64

#### 5.1.2 DataFrame